<form method="post">
    <div id="name-container">
        <label for="name">Enter Game Name</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div id="genre-container">
        <label for="genre">Enter Game Genre</label>
        <input type="text" id="name" name="genre" required  placeholder="Action">
    </div>
    <div id="name-container">
        <label for="type">Enter Game Type</label>
        <input type="text" id="type" name="type" required placeholder="offline">
    </div>
    <div id="mode-container">
        <label for="mode">Enter Game Type Mode</label>
        <input type="text" id="mode" name="mode" required placeholder="Single player">
    </div>
    <div id="date-container">
        <label for="date">Enter Game Release Date</label>
        <input type="date" id="date" name="date" required>
    </div>

    <button type="submit">Insert Game</button>
</form>