
<html>
    <head>
          <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
<form method="post">
    <div>
        <label for="id">Search By Id</label>
        <input type="text" name="id" id="id"/>
    </div>
   

    <button type="submit">Submit</button>
</form>
    </body>
</html>
