

<form method="post">
    <div>
        <label>Select Game info you'll need</label>
       <select name="type" id="type">
        <option value="all">All pc games</option>
        <option value="Offline">Ofline Games</option>
        <option value="online">Online Games</option>
        <option value="single">Single Player games</option>
        <option value="multiplayer">Multiplayer games</option>
        <option value="action">Action</option>
        <option value="racing">Racng</option>
        <option value="sports">Sports</option>
        <option value="fighting">Fighting</option>
        <option value="puzzle">puzzle</option>
        <option value="oher">other</option>


       </select>
       
        
       
    </div>
    <button type="submit">Submit</button>
</form>

<a type="button" href="/add_games">Add Games</a>