<html>
    <head></head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Games</th>
                </tr>
            </thead>
            <tb>
                <%  games.forEach(game=>{%>
                    <tr>
                        <td> <%=game %></td>
                    </tr>

                <%})%>
            </tb>
        </table>
    </body>
</html>